{% extends 'base_accounts.html' %}

{% block title %}
    Reset your password
{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">重置密码</h3>
          <p>确认你的邮箱链接去重置密码，如果还没收到请等待一小会儿，或者检查垃圾邮箱.</p>
          <a href="{% url 'login' %}" class="btn btn-secondary btn-block">返回登录</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}